.wrapper-header {
  border-bottom: 1px solid gray;
}

.header {
  padding: 12px 12px 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(70, 70, 70);
  text-align: center;
}

.submit-btn {
  text-align: right;
  padding: 0 24px 8px 0;
}

.pd-24 {
  padding: 24px;
  flex-grow: 1;
}
